header.header {
	height: 100vh;
	background: linear-gradient(to bottom, #000000aa, #000000aa), url('/page.jpg');
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
}
body {
	margin: 0;
}

.header .image img {
	height: 500px;
}
.header .landing-text {
	color: white;
}

.header .landing-text h1 {
	font-size: 65px;
	color: #ffd700;
}
.header .landing-text h2 {
	font-size: 50px;
}
.header .landing-text span {
	font-size: 20px;
}
button.primary {
	padding: 10px 30px;
	background-color: gold;
	color: #555555;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
}

.shoe-card {
	width: 29%;
	padding: 15px;
	box-shadow: 2px 3px 10px #00000069;
	margin-top: 25px;
}
.shoe-card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.shoe-card-details {
	padding-top: 20px;
}
.shoe-card-details-1 {
	font-weight: bolder;
	display: flex;
	justify-content: space-between;
}
.shoe-card-details .description {
	display: block;
	margin: 15px 0;
	color: #9b9898;
}
div.buttons {
	display: flex;
	gap: 10px;
}
div.buttons button {
	padding: 15px;
	border: 1px solid black;
	font-size: 20px;
}
div.buttons button.cart {
	flex: 1;
	background-color: #ffd700;
	color: 1px solid black;
}

.shoe-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 85%;
}

.detail-section {
	height: 100vh;
	background-color: #00000047;
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
}
.card-detail {
	height: 100%;
	width: 45%;
	top: 0;
	right: 0;
	position: fixed;
	background-color: #fff;
	padding: 15px;
	overflow-y: auto;
}
.card-detail img {
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}
.card-detail .name-price {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
}

.card-detail p {
	font-size: 20px;
	line-height: 1.7;
	text-align: justify;
}

.card-detail .size-gender {
	display: flex;
	justify-content: space-between;
	font-size: 21px;
	font-weight: bold;
}
